.modules-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.module-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
    transition: .2s;
}

.module-card:hover {
    background: #e3f2fd;
}

.conteudo-modulo {
    padding: 20px;
}

.hidden {
    display: none;
}

#voltarBtn {
    padding: 10px 15px;
    background: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#voltarBtn:hover {
    background: #0b7dda;
}
